<div class="card flex flex-column md:flex-row gap-3">
    <div class="p-inputgroup">
        <button type="button" pButton label="Search"></button>
        <input type="text" pInputText placeholder="Keyword" />
    </div>
    
    <div class="p-inputgroup">
        <input type="text" pInputText placeholder="Keyword" />
        <button type="button" pButton icon="pi pi-refresh" styleClass="p-button-warn"></button>
    </div>

    <div class="p-inputgroup">
        <button type="button" pButton icon="pi pi-check" styleClass="p-button-success"></button>
        <input type="text" pInputText placeholder="Vote" />
        <button type="button" pButton icon="pi pi-times" styleClass="p-button-danger"></button>
    </div>
</div>

