.gender-group {
  display: flex;
  justify-content: space-between;
  margin-top: 0.62rem;
  padding: 0 0.5rem;
}

.gender-input {
  display: flex;
  align-items: center;
}

.gender-input input {
  margin-right: 0.35rem;
}

.gender-input label {
  font-size: 0.81rem;
  font-weight: 600;
  color: #000000c0;
}

@media screen and (max-width: 1064px){
  .gender-inputs {
    margin-top: 2rem;
  }
  .gender-group {
    flex-direction: column;
  }
  .gender-title h6 {
    margin: 0;
  }
  .gender-input {
    margin-top: 0.5rem;
  }
}
