body {
  background: url(../src/image.jpg/logo-tr-nova.jpg);
}

.container {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fad203;
  border-radius: 5%;
  backdrop-filter: blur(10px);
  background-color: transparent;
}
