<div class="container">
  <h2>TR Soluções</h2>

  <h5>Biblioteca Primeng</h5>
  <p>Autocomplete</p>
  <app-autocomplete></app-autocomplete>
  <br>
  <p>Calendar</p>
  <app-calendar></app-calendar>
  <br>
  <p>Cascadeselect</p>
  <app-cascadeselect></app-cascadeselect>
  <br>
  <p>Checkbox</p>
  <app-checkbox></app-checkbox>
  <br>
  <p>Chips</p>
  <app-chips></app-chips>
  <br>
  <p>Colorpicker</p>
    <app-colorpicker></app-colorpicker>
  <br>
  <p>Dropdown</p>
  <app-dropdown></app-dropdown>
  <br>
  <p>Editor</p>
  <app-editor></app-editor>
  <br>
  <p>InputGoup</p>
  <app-inputgroup></app-inputgroup>
  <br>
  <p>InputMask</p>
  <app-inputmask></app-inputmask>
  <br>
  <p>InputSwitch</p>
  <app-inputswitch></app-inputswitch>
  <br>
  <p>InputText</p>
  <app-inputtext></app-inputtext>
  <br>
  <p>InputTextarea</p>
  <app-inputtextarea></app-inputtextarea>
  <br>
  <p>InputNumber</p>
  <app-inputnumber></app-inputnumber>
  <br>
  <p>Knob</p>
  <app-knob></app-knob>
  <br>
  <p>KeyFilter</p>
  <app-keyfilter></app-keyfilter>
  <br>
  <p>Listbox</p>
  <app-listbox></app-listbox>
  <br>
  <p>MultiSelect</p>
  <app-multselect></app-multselect>
  <br>
  <p>Password</p>
  <app-password></app-password>
  </div>

