<div class="header">
  <img
    src="https://primefaces.org/cdn/primeng/images/primeng-logo-light.svg"
    alt=""
  />
  <h2>TR Soluções</h2>
  <br />
  <h5>Biblioteca Primeng</h5>
  
  
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Link</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>



<div class="caixa">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <p>Autocomplete</p>
      <app-autocomplete></app-autocomplete>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <p>Calendar</p>
      <app-calendar></app-calendar>
      <br />
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <p>Cascadeselect</p>
      <app-cascadeselect></app-cascadeselect>
      <br />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <p>Checkbox</p>
      <app-checkbox></app-checkbox>
      <br />
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <p>Chips</p>
      <app-chips></app-chips>
      <br />
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <p>Colorpicker</p>
      <app-colorpicker></app-colorpicker>
      <br />
    </div>
  </div>
  <br />

<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>Dropdown</p>
    <app-dropdown></app-dropdown>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>Editor</p>
    <app-editor></app-editor>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>InputGoup</p>
    <app-inputgroup></app-inputgroup>
    <br />
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>InputMask</p>
    <app-inputmask></app-inputmask>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>InputSwitch</p>
    <app-inputswitch></app-inputswitch>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>InputText</p>
    <app-inputtext></app-inputtext>
    <br />
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4">    
    <p>InputTextarea</p>
    <app-inputtextarea></app-inputtextarea>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>InputNumber</p>
    <app-inputnumber></app-inputnumber>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>Knob</p>
    <app-knob></app-knob>
    <br />
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>KeyFilter</p>
    <app-keyfilter></app-keyfilter>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>Listbox</p>
    <app-listbox></app-listbox>
    <br />
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>MultiSelect</p>
    <app-multselect></app-multselect>
    <br />
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>Password</p>
    <app-password></app-password>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>RadioButton</p>
    <app-radiobutton></app-radiobutton>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>Rating</p>
    <app-rating></app-rating>
    <br />
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>SelectButton</p>
    <app-selectbutton></app-selectbutton>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>Slider</p>
    <app-slider></app-slider>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>TreeSelect</p>
    <app-treeselect></app-treeselect>
    <br />
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>TriStateCheckbox</p>
    <app-tristatecheckbox></app-tristatecheckbox>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>ToggleButton</p>
    <app-togglebutton></app-togglebutton>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>Button</p>
    <app-button
      ><app-button> <br /> </app-button
    ></app-button>
  </div>
</div>
</div>

<div class="container my-5">

  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #0b0a0acd;"
          >
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-between p-4"
             style="background-color: #f0f0f3"
             >
      <!-- Left -->
      <div class="me-5"style="color: #1c2331">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Company name</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              Here you can use rows and columns to organize your footer
              content. Lorem ipsum dolor sit amet, consectetur adipisicing
              elit.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Products</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: height: 2px"
                />
            <p>
              <a href="#!" class="text-white">MDBootstrap</a>
            </p>
            <p>
              <a href="#!" class="text-white">MDWordPress</a>
            </p>
            <p>
              <a href="#!" class="text-white">BrandFlow</a>
            </p>
            <p>
              <a href="#!" class="text-white">Bootstrap Angular</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-white">Your Account</a>
            </p>
            <p>
              <a href="#!" class="text-white">Become an Affiliate</a>
            </p>
            <p>
              <a href="#!" class="text-white">Shipping Rates</a>
            </p>
            <p>
              <a href="#!" class="text-white">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
            <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(10, 10, 10, 0.036)"
         >
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
         >MDBootstrap.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->


<!-- End of .container -->