h2 {
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 20px;

}

h5 {
  font-size: 30px;
  font-style: italic;
  margin-top: 5px;
}

.nav {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  padding-top: 40px;
  height: 250px;
  justify-content: center;
  color: #ffffff;
  border-radius: 5px;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.808);
}

.container {  
  display: grid; 
  grid-template-columns:300px 300px 300px ;
  padding-left: 200px;
  padding-top: 100px;
  height: 100%;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #f4f4f4fe;  
  gap: 100px;  
  }
 
p {
  font-size: 20px;
  margin-bottom: 30px;
 } 