<div class="header">
  <img
    src="https://primefaces.org/cdn/primeng/images/primeng-logo-light.svg"
    alt=""
  />
  <h2>TR Soluções</h2>
  <br />
  <h5>Biblioteca Primeng</h5>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <p>Autocomplete</p>
      <app-autocomplete></app-autocomplete>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <p>Calendar</p>
      <app-calendar></app-calendar>
      <br />
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <p>Cascadeselect</p>
      <app-cascadeselect></app-cascadeselect>
      <br />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <p>Checkbox</p>
      <app-checkbox></app-checkbox>
      <br />
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <p>Chips</p>
      <app-chips></app-chips>
      <br />
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <p>Colorpicker</p>
      <app-colorpicker></app-colorpicker>
      <br />
    </div>
  </div>
  <br />

<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>Dropdown</p>
    <app-dropdown></app-dropdown>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>Editor</p>
    <app-editor></app-editor>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>InputGoup</p>
    <app-inputgroup></app-inputgroup>
    <br />
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>InputMask</p>
    <app-inputmask></app-inputmask>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>InputSwitch</p>
    <app-inputswitch></app-inputswitch>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>InputText</p>
    <app-inputtext></app-inputtext>
    <br />
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4">    
    <p>InputTextarea</p>
    <app-inputtextarea></app-inputtextarea>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>InputNumber</p>
    <app-inputnumber></app-inputnumber>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>Knob</p>
    <app-knob></app-knob>
    <br />
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>KeyFilter</p>
    <app-keyfilter></app-keyfilter>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>Listbox</p>
    <app-listbox></app-listbox>
    <br />
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>MultiSelect</p>
    <app-multselect></app-multselect>
    <br />
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>Password</p>
    <app-password></app-password>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>RadioButton</p>
    <app-radiobutton></app-radiobutton>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>Rating</p>
    <app-rating></app-rating>
    <br />
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>SelectButton</p>
    <app-selectbutton></app-selectbutton>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>Slider</p>
    <app-slider></app-slider>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>TreeSelect</p>
    <app-treeselect></app-treeselect>
    <br />
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>TriStateCheckbox</p>
    <app-tristatecheckbox></app-tristatecheckbox>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>ToggleButton</p>
    <app-togglebutton></app-togglebutton>
    <br />
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4">
    <p>Button</p>
    <app-button
      ><app-button> <br /> </app-button
    ></app-button>
  </div>
</div>
</div>